# docker-compose.yml
services:
  web:
    build: .
    container_name: php-apache-web
    ports:
      - "8080:80"          # Acesse em http://localhost:8080
    environment:
      # As variáveis abaixo são lidas pelo PHP no index.php
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      TZ: ${TZ:-Europe/Lisbon}
    volumes:
      - ./src:/var/www/html:rw
    restart: unless-stopped
