# docker-compose.yml
services:
  web:
    build: .
    container_name: php-apache-web
    ports:
      - "8080:80"
    environment:
      # Git (clonado apenas uma vez)
      GIT_REPO: ${GIT_REPO}
      GIT_REF: ${GIT_REF:-main}
      # (Opcional) credenciais privadas
      GIT_USER: ${GIT_USER:-}
      GIT_TOKEN: ${GIT_TOKEN:-}

      # Configuração da base de dados
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT:-3306}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      TZ: ${TZ:-Europe/Lisbon}
    restart: unless-stopped
